<a href="#">
{#  <i class="fal fa-shopping-basket"></i>#}
    <img src="https://img.icons8.com/color/38/000000/shopping-cart-loaded.png"/>
  <span class="bag-items-number">{{ cart_counter }}</span>
</a>
<ul>
                                <li class="cart-items">
                                    <ul class="do-nice-scroll">
                                     {% for cart in  carts %}
                                        <li class="cart-item">

                                            <span class="price">{{ cart.price }} تومان</span>
                                            <button class="remove-item">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </li>
                                     {% endfor %}

                                    </ul>
                                </li>
                                <li class="cart-footer">
                                    <span class="d-block text-center mb-3">
                                        مبلغ کل:
                                        <span class="total">{{ total_price }} تومان</span>
                                    </span>
                                    <span class="d-block text-center px-2">
                                        <a href="#" class="btn-cart">
                                            مشاهده سبد خرید
                                            <i class="mi mi-ShoppingCart"></i>
                                        </a>
                                    </span>
                                </li>
                            </ul>